/* r /////////////////////////////////////
   TODO: Estilos de la barra de navegacion
///////////////////////////////////// r */
* {
    margin: 0px;
    padding: 0px;
}

/*.contenido {
     Estilos para el contenido de la página 
    background-image: url('/img/fondodepag.jpg');
    background-size: cover;
     Ajustar la posición y el z-index para que esté detrás del header 
    padding: 200px;
}*/

header, header.header {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    transition: background-color 0.3s ease;
    /* position: fixed; <-- Elimina esta línea para que el header no sea fijo */
    display: flex;
    justify-content: space-between;
}

.imgdeimgnav {
    width: 20%;
}

ul {
    display: flex;
    list-style-type: none;
}

nav {
    width: 100%;
}

.navegacion li a {
    text-decoration: none;
    display: block;
}

.navegacion li ul {
    display: none;
    min-width: 15%;
}

.navegacion li:hover>ul {
    display: block;
}

.imgnav {
    width: 90%;
}

.espacio {
    margin-left: 5%;
}

.subslink {
    margin-top: 2.1%;
    padding-left: 5%;
    font-size: 1.3em;
    color: rgb(160, 10, 159);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.linkactivo {
    border-bottom: 3px solid black;
}

/* r /////////////////////////////////////
   TODO: Colores
///////////////////////////////////// r */



/*User*/

.user{
    background-color: rgb(66, 154, 173);
    width: 100%; /* Ocupa toda la anchura de la pantalla */
    height: 100vh; /* Ocupa toda la altura de la pantalla (viewport height) */
    
}

.mp {
    font-size: 4em; /* Aumenta el tamaño de la fuente */
    text-align: center; /* Centra el texto dentro del div */
    color: white;
    border-bottom: 3px solid rgb(255, 255, 255); 
}

.perfil{
    justify-content: space-between;    
}

.IP{
    display: flex;
    justify-content: space-between;
}

.info-usuario {
    order: 1; /* Cambia el orden a la derecha */
    left: 200px;
    top: 80px;
    width: 200px; /* Ajusta el ancho del div */
    position: relative;
    width: 600px; /* Ajusta el ancho del div */
    height: 700px; /* Ajusta la altura del div */
}

.editar {
    order: 2; /* Cambia el orden a la izquierda */
    
}

.info-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.imagen-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(/img/bruce.png); /* Sustituir con la imagen real */
    margin-bottom: 15px;
}

.datos-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

label {
    font-weight: bold;
    margin-bottom: 4px;
    margin-right: 90px; 
    
}

input {
    padding: 8px;
    margin-bottom: 15px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.8em; 
}

input:focus {
    outline: none;
    border-color: dodgerblue;
}


.editar {
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(142, 185, 195);
    position: relative;
    left: -600px;
    width: 400px;
    height: 250px; /* Aumenté la altura para permitir más espacio */
    text-align: center;
    margin-top: 250px;
    border-radius: 10%;
    font-size: 1.3em; 
}

/* Añade un margen en la parte superior de los párrafos para moverlos hacia abajo */
.editar p {
    margin-top: 20px; /* Ajusta el espacio para mover los párrafos hacia abajo */
    margin-right: 220px;
    color: white;
}

.adm {
    width: 400px; /* Ancho del botón */
    padding: 8px; /* Espacio interno del botón */
    margin-left: -10px;
    margin-top: 20px;
    background-color: hsl(191, 49%, 44%);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.ser {
    width: 400px; /* Ancho del botón */
    padding: 8px; /* Espacio interno del botón */
    margin-left: -10px;
    margin-top: 20px;
    background-color: hsl(191, 49%, 44%);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.adm:hover {
    background-color: hsla(191, 49%, 44%, 0.658);
}

.ser:hover {
    background-color: hsla(191, 49%, 44%, 0.658);
}

.ad {
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    /* Otros estilos */
}